---
layout: default
---
<div class="home">
  {% for page in site.categories.life limit: 1 %}
  <header class="post-header">
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <p class="meta"><i class="fa fa-calendar"></i> {{ page.date | date: "%Y-%m-%d" }}&nbsp&nbsp&nbsp<i class="fa fa-folder-open"></i>{% if page.category %} <a href="/categories/#{{page.category}}">{{ page.category }}</a> {% endif %}&nbsp&nbsp&nbsp<i class="fa fa-tags"></i>&nbsp{% for tag in page.tags %}&nbsp<a href="/tags/#{{ tag }}">{{ tag }}</a>{% endfor %}</p>
  </header>
  <article class="post-content">
  {{ page.content }}
  </article>
  {% endfor %}


<p><a  href="/archive/"><h1 align="center"><font style="color:#39B3D7" size="20">风</font><font style="color:#ED9C28" size="18">往</font><font style="color:#47A447">哪</font><font style="color:#D9534F">吹</font><font style="color:#3276B1">我</font><font style="color:#ED9C28">往</font><font style="color:#39B3D7" >哪</font><font style="color:#D9534F">追</font></h1></a>
<div align="center">
<!--<p> Very quietly I take my leave
<p>As quietly as I came here;
<p> Quietly I wave good-bye
<p> To the rosy clouds in the western sky.
<p> The golden willows by the riverside
<p> Are young brides in the setting sun;
<p> Their reflections on the shimmering waves
<p> Always linger in the depth of my heart.
<p> The floating heart growing the sludge
<p> Sways leisurely under the water;
<p> In the gentle waves of Cambridge
<p> I would be a water plant!
<p> That pool under the shade of elm trees
<p> Holds not water but the rainbow from the sky;
<p> Shattered to pieces among the duck weeds
<p> Is the sediment of a rainbow-like dream?
<p> To seek a dream?
<p> Just to pole a boat upstream
<p> To where the green grass is more verdant
<p> Or to have the boat fully loaded with starlight
<p> And sing aloud in the splendor of starlight.
<p> But I can’t sing aloud
<p> Quietness is my farewell music;
<p> Even summer insects heap silence for me
<p> Silent is Cambridge tonight!
<p> Very quietly I left
<p> As quietly as I came here;
<p> Gently I flick my sleeves
<p> Not even a wisp of cloud will I bring away-->

<p>轻轻的我走了，
<p>正如我轻轻的来；
<p>我轻轻的招手，
作别西天的云彩。
<p>----
<p>那河畔的金柳，
<p>是夕阳中的新娘；
<p>波光里的艳影，
<p>在我的心头荡漾。
<p>----
<p>软泥上的青荇，
<p>油油的在水底招摇；
<p>在康河的柔波里，
<p>甘心做一条水草！
<p>----
<p>那榆荫下的一潭，
<p>不是清泉，是天上虹；
<p>揉碎在浮藻间，
<p>沉淀着彩虹似的梦。
<p>----
<p>寻梦？撑一支长篙，
<p>向青草更青处漫溯；
<p>满载一船星辉，
<p>在星辉斑斓里放歌。
<p>----
<p>但我不能放歌，
<p>悄悄是别离的笙箫；
<p>夏虫也为我沉默，
<p>沉默是今晚的康桥！
<p>----
<p>悄悄的我走了，
<p>正如我悄悄的来；
<p>我挥一挥衣袖，
<p>不带走一片云彩。
<p><img src="/img/20150722.jpg"/>
</div>
</div>
